/build*
out
mpich
cmake-build-*
.idea/
.vs/
.vscode/
scripts/variants*.csv
scripts/variants*.xlsx
*venv*
sln/
CMakeSettings.json
.DS_Store
.cache
install
/tasks/mpi/Konstantinov_I_Gauss_Jordan_method
/tasks/seq/Konstantinov_I_Gauss_Jordan_method
